
body {
	font: 'Space Mono', Georgia, serif;
	padding: 2em 0em;
	border-top: 10px solid #F7CF5E;
}

.score {
	font-weight: bold; 
}

.logo {
	font-size: 2em;
	font-family: 'Space Mono', Georgia, serif;
	color: #013369;
	text-shadow: #0080C4 1px 1px 0px;
}

p, .name, .score {
	font-size: 1em;
	font-family: 'Space Mono', cursive;
	color: #555555;

}

.logo span {
	font-family: Georgia, serif;
}

h3 {
	font-family: 'Space Mono', Georgia, serif;
}

.v {
	background-color: #9DBF1A;
	width: 2em;
	font-family: sans-serif;
	color: #FFF;
	text-align: center;
	height: 2em;
	font-size: 0.5em;
	line-height: 2em;
	border-radius: 1em;
	margin-left: 1em;
}


@media only screen and (max-width: 600px) {
	.logo {
		font-size: 1.5em !important;
		font-family: 'Space Mono', Georgia, serif;
		color: #013369;
		text-shadow: #0080C4 1px 1px 0px;
	}
  }

  #foobar { display: none }