
body {
	font: system-ui, sans-serif;
	padding: 2em 0em;
	border-top: 10px solid #F7CF5E;
}

.price {
	font-weight: bold; 
}

.logo {
	font-size: 2em;
	font-family: 'Zen Dots', Georgia, serif;
	color: #013369;
	text-shadow: #0080C4 1px 1px 0px;
}

p {
	font-size: 1em;
	font-family: 'Zen Dots', cursive;
	color: #555555;

}

.logo span {
	font-family: system-ui, sans-serif;
}

h3 {
	font-family: 'Zen Dots', cursive;
}

.v {
	background-color: #9DBF1A;
	width: 2em;
	font-family: sans-serif;
	color: #FFF;
	text-align: center;
	height: 2em;
	font-size: 0.5em;
	line-height: 2em;
	border-radius: 1em;
	margin-left: 1em;
}

